# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/assets/img/arrow-right.svg
/src/assets/img/check-mark-black-outline-svgrepo-com.svg
/src/assets/img/checkbox-svgrepo-com.svg
/src/assets/img/edit-svgrepo-com.svg
/src/assets/img/ico-check-outlined.svg
/src/assets/img/ico-checked.svg
/src/assets/img/ico-checkmark.svg
/src/assets/img/ico-delete.svg
/src/assets/img/ico-edit.svg